<div class="col-md-12">
    <div class="row">

        <h4 align="center">Hosts who rented most</h4>
        <md-card>
            <canvas id="hoststat" ></canvas>
        </md-card>

    </div>

</div>