<div class="row">

    <div class="col-md-12">
        <canvas id="mycanvas" style="width: 500px;height: 300px"></canvas>
    </div>

    <!--<div class="col-md-6">-->
        <!--<canvas id="bubbles" style="width: 500px;height: 300px"></canvas>-->
    <!--</div>-->

</div>

<div class="row">
    <div class="col-md-12" style="margin-top: 150px">
        <h3 align="center">Least Seen Pages</h3>
        <canvas id="Polar" style="width: 500px;height: 300px"></canvas>
    </div>


    <div class="col-md-12" style="margin-top: 150px">
        <h3 align="center">Most Seen Pages</h3>
        <canvas id="Radar" style="width: 50%;height: 50%"></canvas>
    </div>

</div>
